<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What is one thing you&apos;ve never eaten but would like to?</string>
	<string>What would be your ideal picnic?</string>
	<string>What is your favorite thing to eat?</string>
	<string>What would you like to know how to cook?</string>
	<string>What is your favorite thing to drink?</string>
	<string>What is your least favorite food?</string>
	<string>What is a food you thought you wouldn&apos;t like but you ended up loving?</string>
	<string>What is your favorite thing to eat while watching a movie?</string>
	<string>Do you like to listen to music while you&apos;re eating?</string>
	<string>Which is better salty, sweet, or sour?</string>
	<string>What is your favorite taste?</string>
	<string>If you had a castle made out of food, what food would it be?</string>
	<string>Would you want to live in a cotton candy cottage or a chocolate fortress?</string>
	<string>What is your favorite snack?</string>
</array>
</plist>
