<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What is one thing you&apos;ve never eaten but would like to?</string>
	<string>What would be your ideal picnic?</string>
	<string>What is your favorite thing to eat?</string>
	<string>What would you like to know how to cook?</string>
	<string>What is your favorite thing to drink?</string>
</array>
</plist>
