<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What is your favorite color?</string>
	<string>Did you do anything fun today?</string>
	<string>What are you thankful for?</string>
	<string>What is your favorite thing to eat?</string>
	<string>If you could go anywhere in the world right now, where would you go?</string>
	<string>Would you rather take a ride in a boat or a helicopter?</string>
	<string>What is the best thing you have ever eaten?</string>
	<string>What is the worst thing you have ever eaten?</string>
	<string>What is your favorite smell?</string>
	<string>If you had a restaurant, what kind of food would you serve?</string>
	<string>What is your favorite joke?</string>
	<string>What is your favorite book?</string>
	<string>Who is your favorite fictional character?</string>
	<string>If you could make one toy come to life which would it be?</string>
	<string>What is your favorite movie?</string>
	<string>If you could go to any time period, which would it be?</string>
	<string>If you could be an animal for a day which animal would you be?</string>
	<string>If you had to change your name, what would you change it to?</string>
	<string>What super power would you like to have?</string>
	<string>Do your socks match?</string>
</array>
</plist>
